.womac-container {
    display: flex;
    flex-direction: column;
    margin: 20px;
}

.womac-table {
    display: flex;
    flex-direction: row;

    margin-bottom: 20px;
    flex-wrap: wrap;
    width: 100%;
}

.womac-row {
    display: flex;
    flex-direction: column;
}

.womac-cell {
    border: 1px solid #000;
    padding: 8px;
    min-width: 2rem;

}

.womac-header {
    background-color: #eee;
    font-weight: bold;
}

.womac-value {
    flex-grow: 1;
}


.exportZaznam {
    border: 1px solid #000;
    padding: 10px;
    margin-bottom: 20px;
    /*width: 70%;*/
    /*width: 86vw;*/

}

@media screen and (max-width: 1262px) {
    .exportZaznam {

        width: 86vw;

    }
}
@media screen and (min-width: 1263px) {
    .exportZaznam {
        width: 70%;
    }
}

.pacient-info {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    margin-right: 4%;
}

.info-label {
    font-weight: bold;
    margin-right: 10px;
}

.info-value {
    flex-grow: 1;
}

.pacient-info-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.pagination-operation {
    max-width: 50%;
    padding: 2%;
}

.flex-container-womac-delete {
    margin-bottom: 2%;
}

.zobrazOperaciu {
    text-decoration: none;

    font-weight: bold;
    color: cornflowerblue;
    font-size: 15px;
    transition: color 0.5s, text-shadow 0.5s, font-size 0.5s;
}

.zobrazOperaciu:hover {
    /*box-shadow: 0 0 5px red;*/
    color: black;
    text-shadow: cornflowerblue 2px 0 10px;
    font-size: 16px;
}

.flex-container-filter {
    display: flex;
    flex-wrap: wrap;

}
@media screen and (max-width: 732px) {
    .flex-container-filter {
        flex-direction: column;

    }

    .filter_export {
        margin-bottom: 0.5rem;
        margin-left: 1rem;
    }
}
@media screen and (min-width: 733px) {
    .flex-container-filter {
        flex-direction: row;

    }

    .filter_export {
        margin-bottom: 0.5rem;
        margin-left: 1rem;
    }
}

.filter_export label {
    font-weight: bold;
}
