

/*navigavny panel*/
.logo {
    height: 35px;
}


.nav-item a:hover {
    color: indianred;

}
.navbar-brand{
    font-size: smaller;
}
.navbar {
    position: sticky;
}

.account-navbar {
    font-weight: bold;
    margin-right: 2rem;
}


.dropdown-toggle::after {
    content: none;


}


