



.oznamNadpis {
    padding: 5% 0 0 5%;
}

.autor {
    font-size: large;
}


.oznamObsah {
    font-size: 120%;
}

.create {
    padding-bottom: 5%;
}

.tlacitko {
    padding: 5px 10px;
}
.komentarText {
    padding: 15px;
}

.komentarObsah {
    background-color: #F8F2F6;
    padding: 15px;
    width: 80vw;
    border: 1px solid black;
    border-radius: 10px;
    margin-bottom: 5px;
}

.komentarAutor {
    font-weight: bold;
    font-size: 15px;
    padding: 5px;
    width: 30vw;

}

.komentarForm {
    padding: 15px;
    margin-bottom: 3rem;
    /*border-bottom: 1px solid black;*/
}

.tag-formular {
    height: 50%;
    margin: 5%;
    width: auto;
    border: 2px solid black;
    padding: 10px;

}

.tag-label-nadpis {

    margin-left: 10%;
    font-weight: bold;
    padding-bottom: 10px;
    font-size: 28px;
}

.tag-label {

    margin-left: 15%;
    padding-bottom: 2px;
    font-size: 18px;
}

.tag-button {
    margin-top: 2%;
    margin-left: 10%;
}

.form-input {
    display: block;
    width: 50vw;
    border: 1px solid black;
    resize: both;
    min-height: 40px;
    line-height: 20px;
    padding: 5px;
    margin-bottom: 1rem;

}

.komentarDatum {
    text-align: right;
    margin-right: 5%;
}

/*.tlacitkoContainer {*/
/*    display: flex;*/
/*    width: 25%;*/
/*}*/

@media (min-width : 500px) {

    .tlacitkoContainer {
        display: flex;
        width: 0%;
    }
}
