.side-bar{

    width: auto;
    /*height: 200vh;*/
    /*border: black solid 2px;*/
    /*overflow-y: scroll;*/
    margin-bottom: 4%;
    /*min-width: 35vw;*/
}

@media (max-width : 600px) {
    .side-bar .menu{
        max-height: 60vh;
        min-width: 70vw;
    }

}

@media (min-width : 600px) {
    .side-bar .menu{

        max-width: 35vw;
    }

}
.side-bar::-webkit-scrollbar {
    width: 0px;
}

.side-bar .menu {
    /*width: 100%;*/
    /*margin-top: 30px;*/
    /*width: auto;*/
    height: 100vh;
    background-color: #444;
    border: black solid 2px;
    overflow-y: scroll;
    margin-bottom: 4%;
    width: 50vw;
}

.side-bar .menu .item a{
    color: #fff;

    text-decoration: none;
    display: block;
    /*padding: 5px 30px;*/
    line-height: 30px;
}

.side-bar .menu .item a:hover{
    background: #262627;
    transition: 0.3s ease;
}

.side-bar .menu .item .sub-menu{
    background: #33363a;
    /*background-color: white;*/
    color: black;
    display: none;
}

.nadpisko {
    font-weight: bolder;
    color: black;
    /*background-color: darkred;*/
    padding: 5px 30px;
    font-size: 20px;
    border: black solid 3px;
}
.nadpisko.activeMenu {
    font-weight: bolder;
    color: black;
    background-color: darkred;
    padding: 5px 30px;
    font-size: 20px;
    border: black solid 1px;
}
.sidebarHeading {
    background: #262627;
    color: white;
    font-weight: bold;
    padding: 5px 5.6vh;
    font-size: 20px;
}

a.operacie {

    padding: 5px 5.6vh;
}

.sub-item {
    padding: 5px 8.5vh;
}

.activeMenu {

    border: 2px solid darkred;
    border-radius: 10px;
    box-shadow: 0 0 5px red;
    background-color: black;
    font-weight: bold;
}


#filter_input {
    width: 90%;
}

.flex-container-womac-delete {
    display: flex;
    /*align-items: center;*/
}

.delete-button-womac {
    height: 100%;
}

#deleteForm {
    /*height: 100%;*/
    margin: 0;
}

a.sub-item {
    padding-right: 1%;
    width: 100%;
}
