.side-bar{
    width: auto;
    margin-bottom: 4%;
}

@media (max-width : 900px) {
    .side-bar .menu{
        max-height: 60vh;
        min-width: 70vw;
    }

}

@media (min-width : 900px) {
    .side-bar .menu{

        max-width: 35vw;
    }

}
.side-bar::-webkit-scrollbar {
    width: 0px;
}

.side-bar .menu {
    height: 100vh;
    background-color: #444;
    border: black solid 2px;
    overflow-y: scroll;
    margin-bottom: 4%;
    width: 50vw;
}

.side-bar .menu .item a{
    color: #fff;

    text-decoration: none;
    display: block;
    line-height: 30px;
}

.side-bar .menu .item a:hover{
    background: #262627;
    transition: 0.3s ease;
}

.side-bar .menu .item .sub-menu{
    background: #33363a;
    color: black;
    display: none;
}

.nadpisko {
    font-weight: bolder;
    color: black;
    padding: 5px 30px;
    font-size: 20px;
    border: black solid 3px;

}
.nadpisko.activeMenu {
    font-weight: bolder;
    color: black;
    background-color: darkred;
    padding: 5px 30px;
    font-size: 20px;
    border: black solid 1px;
}
.sidebarHeading {
    background: #262627;
    color: white;
    font-weight: bold;
    padding: 5px 5.6vh;
    font-size: 20px;
    border-top: darkred solid 0.5px;
}

.sidebarSubHeading {
    background: #262627;
    color: white;
    font-weight: bold;
    padding: 5px 7.5vh;
    font-size: 18px;
}

.sidebarPageHeading {
    font-weight: bold;
    padding-top: 3%;
    padding-left: 2%;
    /*border-top: black solid 2px;*/
}

a.operacie {

    padding: 5px 8vh;
}

.sub-item {
    padding: 5px 8.5vh;
    background-color: #3b3b3b;
    border-bottom: black 2px solid;
}

.activeMenu {

    border: 2px solid darkred;
    border-radius: 10px;
    box-shadow: 0 0 5px red;
    background-color: black;
    font-weight: bold;
}


#filter_input {
    width: 90%;
}

.flex-container-womac-delete {
    display: flex;
    /*align-items: center;*/
}

.delete-button-womac {
    height: 100%;
}

#deleteForm {
    /*height: 100%;*/
    margin: 0;
}

a.sub-item {
    padding-right: 1%;
    width: 100%;
}
